spring:
  application:
    name: api

  datasource:
    url: jdbc:mysql://localhost:3306/coss_api?serverTimezone=Asia/Seoul&characterEncoding=utf8&useUnicode=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8081

logging:
  level:
    org.hibernate.SQL: debug

