############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE / Editor
############################
.idea/
*.iml
.vscode/
*.swp

############################
# Logs
############################
*.log

############################
# Secrets / env (중요)
############################
.env
*.env
application-local.yml
application-local.yaml
application-dev.yml
application-dev.yaml

############################
# Java / Gradle
############################
.gradle/
**/build/
!**/src/**/build/
out/

############################
# Node (frontend)
############################
**/node_modules/
**/dist/
**/.next/
**/.nuxt/
**/.cache/
